<div [ngClass]="[opened?'bg-secondary':'bg-transparent']" class="sidebar-wrapper">
  <div *ngIf="opened; else notOpened">
    <i class="close icon fa-solid fa-x" (click)="toggleSidebar()"></i>
    <h1 class="text-primary">Consenso Psicología</h1>
    <ul>
      <li *ngFor="let item of sidebarService.menu"><a routerLink="{{ item.path }}">{{ item.title }}</a></li>
    </ul>
  </div>

  <ng-template #notOpened>
    <i class="icon fa-solid fa-bars" (click)="toggleSidebar()"></i>
  </ng-template>
</div>
