@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap");

body {
  //TODO Buscar un tipo de letra para los textos en general

  .btn-primary {
    @apply text-white bg-blue-500 hover:bg-blue-600 p-2 rounded-md;
  }

  h1 {
    @apply text-2xl font-amita font-bold mb-4;
  }

  h2 {
    @apply text-lg font-amita font-bold mb-2;
  }

  .icon:hover {
    @apply text-primary;
    cursor: pointer;
  }

  .close.icon {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
  }
}
