<footer class="footer-wrapper">
  <ul>
    <li><a href="https://www.consensopsicologia.com/aviso-legal" target="_blank">Aviso Legal</a></li>
    <li><a href="https://www.consensopsicologia.com/política-de-privacidad" target="_blank">Política de privacidad</a>
    </li>
    <li>
      <h2>Contacto</h2>
      <ul>
        <li>
          <a href="mailto:psicoloxiaconsenso@gmail.com">
            <span class="icon"><i class="fa-solid fa-at"></i></span>
            <span>psicoloxiaconsenso@gmail.com</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</footer>
